//$primary-font: ;

@mixin transition($delay){
  -webkit-transition: all $delay ease;
  -moz-transition: all $delay ease;
  -ms-transition: all $delay ease;
	transition: all $delay ease;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 5px;
}

::selection
{
	background: rgba(52, 152, 219,.3);
}

a 
{
	text-decoration: none;
	color: inherit;
}

body 
{
	margin: auto;
	background: #FFF;
	position: relative;
	font-family: 'Lato',sans-serif;
}

.left-panel
{
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;

	.people-find
	{
		width: 90%;
		height: 430px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin: auto;
		overflow: scroll;
		overflow-x:hidden;
		border-bottom: 2px solid #ddd;
	}

	.button-wrapper
	{
		width: 90%;
		margin: auto;
		margin-top: 20px;
	}

	button
	{
		outline: none;
		border:none;
		border-bottom: 3px solid #DDD;
		padding-bottom: 5px;
		font-size: 1em;
		color: #555;
		font-weight: 400;
		background: none;
		margin-left: 5px;
		margin-right: 5px;
		cursor: pointer;
		display: inline-block;
		@include transition(.5s);
	}

	button:hover
	{
		border-bottom: 3px solid #e94747;
	}
}

.right-panel
{
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
	border-left: 1px solid #CCC;

	.title
	{
		border: none;
	}
}

.title
{
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	border-bottom: 1px solid #EEE;

	p 
	{
		font-size: 1em;
		color: #888;
	}
}

h4
{
	font-weight: 300;
	font-size: 2.5em;
	color: #555;
	margin: 0;
}

input[type="text"]
{
	outline: none;
	border: none;
	width: 85%;
	background: #EEE;
	font-size: 1em;
	padding: 10px 15px;
	color: #555;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.stats
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;

	.num-wrapper
	{
	}

	.numbers
	{
		display: inline-block;
		width: 120px;
		margin-left: 10px;
		margin-right: 10px;
		p 
		{
			font-size: 1em;
			color: #555;
			text-transform: uppercase;
			font-weight: 700;
			text-align: center;

			b 
			{
				font-weight: 00;
				font-size: 3em;
				color: #8599a6;
			}
		}
	}
}

.menu
{
	width: 90%;
	margin: auto;
	margin-top: 40px;

	.menu-option
	{
		display: inline-block;
		width: 30%;
		height: 280px;
		border: 1px solid #EEE;
		margin-left: 10px;
		margin-right: 10px;
		cursor: pointer;
		vertical-align: top;
		@include transition(.5s);

		img 
		{
			width: 100px;
			height: 100px;
			margin-top: 20px;
			margin-bottom: 40px;
		}

		p
		{
			font-size: 2em;
			width: 80%;
			margin: auto;
			font-weight: 300;
			text-align: center;
		}
	}

	.menu-option:hover
	{
		background: #e8f4f6;
	}
}

.people
{
	
}

.people-card
{
	width: 280px;
	height: 90px;
	border: 1px solid #EEE;
	margin: 10px;
	float: left;
	@include transition(.5s);

	img 
	{
		height: 65px;
		width: 65px;
		border-radius: 100%;
		position: relative;
		top: 10px;
		left: 20px;
		border: 2px solid #DDD;
	}

	.text-wrapper
	{
		position: relative;
		top: -60px;
		left: 130px;
		p 
		{
			font-size: 1em;
			font-weight: 300;
			color: #555;
			line-height: .5;

			b
			{
				font-size: 1.2em;
			}
		}
	}
}

.missing
{
	border-left: 5px solid #888;	
}

.safe
{
	border-left: 5px solid #2dcd69;
}

.dead
{
	border-left: 5px solid #f73939;
}

.injured
{
	border-left: 5px solid #eec259;
}

.back-button
{
	font-size: 1em;
	color: #555;
	text-align: center;
	font-weight: 400;
	cursor: pointer;
	display: none;
	position: relative;
	top: 150px;
	padding: 20px;
	margin: auto;
	@include transition(.5s);
}

.back-button:hover
{
	color: #47b6e9;
}